#mm-container {
  font-family: arial, sans-serif;
  font-size: 13px;
}

#mm-container a {
  text-decoration: none;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.mikey-tabs {
  font-size: 14px;
  list-style-type: none;
  margin: 16px 0px 0px 0px;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  margin-bottom: 16px;

}

.mikey-tabs a {
  color: #777;
  text-decoration: none;
}

.mikey-tabs a:hover {
  color: #222;
}

.mikey-tabs a:active {
  color: #dd4b39;
}

.mikey-tab {
  height: 36px;
  margin: 2px 8px 0px 0px;
  padding: 0px 7px 10px 10px;
  display:inline;
  cursor: pointer;
  color: #777;
}

.active {
  border-bottom: 3px solid #dd4b39;
}

.active a {
  color: #dd4b39 !important;
  font-weight: bold;
}



.active {
	border-bottom: 3px solid #dd4b39;
	color: #dd4b39 !important;
	font-weight: bold;

}

/* -------- INBOX --------- */

.inbox-table {
  
  border: 0px;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  table-layout: fixed;
  min-width: 800px;

}


.inbox-table td {
	padding: 6px 10px 6px 10px;
	border:0px;
}

.labels {
	font-size: 13px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 2px;
	font-weight: bold;
	cursor: hand;


}

.labels th {
	text-align: left;
  padding-left: 10px;
  padding-bottom: 5px;
}

.labels th:hover {
	color: #777;
}

#mm-attachments-table tr {
  cursor: pointer;
}

.files {
  background-color: #f3f3f3;
  font-size: 13px;
  border-bottom: 1px solid #e5e5e5;
}

.mm-file-text {
  color: #777;
  margin-left: 6px;
}


.mm-toggle-box {
	width: 23px;
}


.mm-sent {
 	width: 75px;
	text-align: right;
		white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.labels .mm-sent {
  text-align: right;
  padding-right: 10px;
}

.mm-size {
  text-align: right;
  width: 65px;
}

.labels .mm-size {
  text-align: right;
  padding-right: 10px;
}



.mm-from {
  width: 120px;
		white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.mm-to {
  width:150px;
}


.file {



}

.inbox-table td.file {
	margin-right: 30px;
}

.inbox-table td.source  {
	padding: 6px 10px 6px 10px;

}

table tr td .flex {
	width: 92%;
	white-space: nowrap;
	min-width: 200px;
	padding-left: 26px;
	overflow:hidden;
}

.mm-type {
	width:50px;
		white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mm-source {
	width:124px;
		white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #222;
}

.mm-file {
width:100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 200px;
	display: inline-block;
}

.mm-type {
  width:40px;
}

.labels .source {
  color: #222;
}

.labels .file {

}

.caret {
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: #777;
  border-right-color: transparent;
  height: 0px;
  width: 0px;
  display: inline;
  float: right;
  margin-top: 6px;
  margin-left: 6px;
}



.circle {
  border-radius: 500px;
  width: 6px;
  height: 6px;
  background-color: #777;
  display: inline;
  float: right;
  margin-top: 6px;
  margin-left: 6px;
}

.file-icon {
	margin-right: 6px;
	display: inline;
	background-size: 18px 18px;
}

.pdf {
	background:url("../img/pdf.png") no-repeat;
	background-position: 10px 4px;
	background-size: 18px 18px;

}

.word {
	background:url("../img/word.png") no-repeat;
	background-position: 10px 4px;
	background-size: 18px 18px;

}

.excel {
	background:url("../img/excel.png") no-repeat;
	background-position: 10px 4px;
	background-size: 18px 18px;

}

.ppt {
	background:url("../img/ppt.png") no-repeat;
	background-position: 10px 4px;
	background-size: 18px 18px;

}

.unknown {
	background:url("../img/unknown.png") no-repeat;
	background-position: 10px 4px;
	background-size: 18px 18px;

}

.favicon {
	background:url("../img/favicon.ico") no-repeat;
	background-position: 10px 5px;
	background-size: 16px 16px;

}

.wired {
	background:url("../img/wired.ico") no-repeat;
	background-position: 10px 5px;
	background-size: 16px 16px;

}

/* ------------ CHECKBOX ----------------- */

.checkbox {
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
background-color: rgba(255,255,255,.05);
border: 1px solid #c6c6c6;
border: 1px solid rgba(155,155,155,.57);
font-size: 1px;
height: 11px;
margin: 0 0px 0 0px;
outline: 0;
vertical-align: text-bottom;
width: 11px;

}

.checkbox:focus {
border: 1px solid #4d90fe;
}

.check {
background:url("../img/checkmark.png") no-repeat -5px -3px;
}

.check {
height: 15px;
outline: 0;
width: 15px;
left: 0;
position: relative;
top: -3px;

}

/* -------------- TABLES ----------- */

#mm-attachments-table {
   margin-top: 15px;
  border: 0px;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0px;
  padding: 0px;
  table-layout: fixed;
  min-width: 800px;
}

#mm-attachments-table {

}
